<h1>Fake SMS Messages</h1>

<table>
  <thead>
    <tr>
      <th>Phone Number</th>
      <th>Message</th>
      <th>Sent At</th>
    </tr>
  </thead>
  <tbody>
    <% @fake_sms_messages.each do |fake_sms_message| %>
      <tr>
        <td><%= fake_sms_message.phone_number %></td>
        <td><%= fake_sms_message.message %></td>
        <td><%= fake_sms_message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
